/* Footer */

footer {
  .container {
    padding: 20px 0;
    position: fixed;
  }
  a {
    &:hover {
      color: #ddd;
    }
  }
  .row {
    justify-content: space-between;
  }
  hr {
    border-top: 5px solid #444;
  }
  @media (max-width: 767px) {
    .col-12 {
      margin-bottom: 10px;
      text-align: center;
    }
    .text-center {
      font-size: 14px;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}
